<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>广科驾校后台管理系统</title>
    <link href="{{ static_url("css/css4bootstrap/bootstrap.min.css") }}" rel="stylesheet">
    <link href="{{ static_url("css/spinner.css") }}" rel="stylesheet">
</head>

<body>
    <div id="app"></div>
    <script type="text/javascript" src="{{ static_url("js/jquery-1.11.1.min.js") }}"></script>
    <script type="text/javascript" src="{{ static_url("js/js4bootstrap/bootstrap.min.js") }}"></script>
    <script src="{{ static_url("build.js") }}"></script>
</body>

</html>
